<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Cartas da Realeza</title>
  <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body class="pg-inicio">

  <h1>Cartas da Realeza</h1>

  <div class="cartas">
    <img id="carta1" src="/img/cartas/carta_bela.png" alt="bela">
    <img id="carta2" src="/img/cartas/carta_branca.png" alt="branca de neve">
    <img id="carta3" src="/img/cartas/carta_merida.png" alt="merida">
    <img id="carta4" src="/img/cartas/carta_moana.png" alt="moana">
    <img id="carta5" src="/img/cartas/carta_rapunzel.png" alt="rapunzel">
    <img id="carta6" src="/img/cartas/carta_tiana.png" alt="tiana">
</div>
  
<button class="botao_index" onclick="window.location.href='jogo.html'">Comece a Jornada</button>

</body>
</html>
